hr {
  background-color: #E6E6EB;
  height: 1px;
  border: none;
}


.buttons {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;

}

.next {
  display: inline-flex;
  align-items: center;
  color: white;
  background-color: #F67599;
  margin: 20px 0px;
  padding: 5px 20px;
  border-radius: 5px;

}
.back {
  display: inline-flex;
  align-items: center;
  color: black;
  margin: 20px 0px;
  padding: 5px;
  border-radius: 5px;
}
